* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 120%;
    background: #F8F8FF;
}

.header {
    margin: 0 auto;
    color: white;
    background: #265956;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    
}

.btn-margin.btn-margin {
    margin: 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid transparent; /* Usunięcie koloru ramki */
    color: #5F9EA0;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Dodanie przejścia dla koloru tła, tekstu i ramki */
    background-color: transparent; /* Przezroczyste tło */
}

.button:hover {
    background-color: #265956; /* Zmiana koloru tła po najechaniu */
    /* Zmiana koloru tekstu po najechaniu */
    color: #90a9a6; 

    border-color: #265956; /* Zmiana koloru ramki po najechaniu */
}


.header-content {
    gap: 10px;
    display: flex;
    color: black;
}

.header-content a {
    color: white;    /* color: rgb(235, 241, 241); */

}

.content {
    background: white;
    margin: 0px auto;
    padding: 70px;

}

.row.row {
    background: #D3D3D3;
}

.slideshow-container {
    width: 800px; 
    height: 800px; 
    position: absolute;
    margin: 5px;
    overflow: hidden;
}

.mySlides img {
    width: 50%;  
    height: auto; 
}

.text{
    float:left; 
    margin-left: 700px;
    font-family: "Ibarra Real Nova", serif;
   

}
.text ul {
    text-align: center;
    list-style-position: outside;

}

.text1{
    clear: both;
    margin: 400px;
    font-family: "Ibarra Real Nova", serif;
    font-size: medium;
    color: #265956;
    text-align: center;
    font-weight: bold;
    margin-top: 10px; 

    
}




.logo {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}



.logo-text {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 15px;
}

.nav-links li:last-child {
    margin-right: 0;
}


datalist {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 5px;
}

option {
    padding: 0;
}

.button-group {
    display: flex;
   justify-content: space-between;
}

.button-group-right {
    display: flex;
    flex-direction: row-reverse;
}


input[type="range"] {
    margin: 0;
}

form {
    margin: 0px auto;
    position: relative;
}

.form_container {
    position: absolute;
    background: white;
    width: 100%;
    top: 0;
    z-index: -1;
}

.active {
    z-index: 0;
}

select {
    height: 30px;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.select-group {
    display: flex;
    gap: 40px;
    width: 200px;
    align-items: center;
}

.select-group select {
    width: 200px;
}

.input-group {
    margin: 0 5px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
textarea {
    height: 70px;
    width: 95%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.error {
    width: 100%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}

table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    text-align: left;
    width: 100%;
    margin-top: 30px;
}

.table-within {
   margin: 0;
}

.column-within {
    padding: 0;
}

.hidden {
    display: none;
}

th {
    background: #5F9EA0;
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

th:first-child {
    border-left: 1px solid #777;
    box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}

tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}